
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    text-decoration: none;
}
/* variables */
:root{
    --main-color:#cd0404;
    --sec-color:#04679d;
    --text-color:#171427;
    --bg-color:#fff;
}
::selection{
    color: var(--text-color);
    background-color: var(--main-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    padding: 4rem 0 3rem;
}
body{
    color: var(--text-color);
}
img{
    width: 100%;
}
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}
header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .nav .logo{
    font-size:1.5rem ;
    font-weight: 600;
    color: var(--sec-color);
    text-transform: uppercase;
}
header .nav .logo span{
    color: var(--main-color);
    font-weight: 700;
}
header .nav #cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
/* cart */
.cart{
    position: fixed;
    top:0 ;
    right: 0;
    right:-100%;
    width:360px ;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--text-color);
    transition: 1.5s;
}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    background-color:#d6f1ff;
    padding: 10px;
    border-radius: 4px;
}
.cart .cart-content .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart .cart-content .cart-box .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.cart .cart-content .cart-box .details-box{
    display: grid;
    row-gap: .5rem;
}
.cart .cart-content .cart-box .details-box .cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    
}
.cart .cart-content .cart-box .details-box .cart-price{
    font-weight: 500;
}
.cart .cart-content .cart-box .details-box .cart-quantity{
    border: 1px solid var(--text-color);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    padding: 2px;
    border-radius: 4px;
}
.cart .cart-content .cart-box .cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.cart .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.cart .total .total-title{
    font-size: 1rem;
    font-weight: 600;
}
.cart .total .total-price{
    margin-left: .5rem;
}
.cart .btn-buy{
    display: flex;
    margin:1.5rem auto 0 auto ;
    padding: 12px 20px;
    border: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}
.cart .btn-buy:hover{
    background-color: var(--sec-color);
    color: var(--bg-color);
}
.cart #cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
/* shop */
.shop{
    margin-top: 2rem;
}
.shop .section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop .shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
.shop .shop-content .product-box{
    position: relative;
  
}
.shop .shop-content .product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: .4s;
    border-radius: 4px;
}
.shop .shop-content .product-box .product-img{
    width: 100%;
    aspect-ratio: 1/1 ;
    object-fit: cover;
    margin-bottom: .5rem;
    border-radius: 4px;
}
.shop .shop-content .product-box .product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.shop .shop-content .product-box .product-price{
    font-weight: 500;
}
.shop .shop-content .product-box .add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 8px;
}
.shop .shop-content .product-box .add-cart:hover{
    background-color: hsl(249, 32%, 17%);
}
/* responsive */
@media (max-width:1080px){
    .container{
        width: 90%;
        margin:0 auto;
    }
    section{
        padding: 3rem 0 2rem;
    }
    header .nav{
        padding: 15px;
    }
    .shop{
        margin-top: 2rem;
    }
    
}
@media (max-width:400px){
    header .nav{
        padding: 11px;
    }
    header .nav .logo{
        font-size:1rem ;
    }
    .cart{
        width: 320px;
    }
}
@media (max-width:360px){
    .shop{
        margin-top: 1rem;
    }
    .cart{
        width: 280px;
    }
}
